/* Importing the font */
@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: Fira Sans;
}

/* nav styles */

header > nav {
    width: 1513px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 890px;
}

header > nav p {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    letter-spacing: 0%;
    text-align: left;
}

header > nav button {
    all: unset;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    padding: 14px 28px;
    border-radius: 8px;
    border: 1px solid;
    border-color: rgb(0, 106, 80);
    cursor: pointer;
}

header > nav button:hover {
    background-color: #C09891;
    color: #2A0800;
    border: 1px solid #2A0800;
}

/* banner style */

header .banner {
    width: 1513px;
    height: 640px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

header .banner .banner-content {
    width: 1210px;
    height: 560px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

header .banner .banner-content .banner-content-left {
    width: 588px;
    height: 326px;
}


header .banner .banner-content .subtitle {
    color: rgba(14, 14, 14, 0.5);
    font-size: 23px;
    font-family: Fira Sans;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 15px;
}

header .banner .banner-content .title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 53px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
    text-align: left;
}

header .banner .banner-content button {
    all: unset;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    padding: 17px 32px;
    margin-top: 23px;
    cursor: pointer;
}

header .banner .banner-content .banner-content-right {
    width: 474.03px;
    height: 400px;
    background: url(../assets/hero.png);
}

header .banner .banner-content button:hover {
    background-color: #588157;
    color: black;
}

/* main styles */

main {
    width: 1513px;
    height: 4285px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main .content-vision {
    width: 1210px;
    height: 765px;
}

main .content-vision > .title {
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 38px;
    font-weight: 700;
    line-height: 48px;
    letter-spacing: 0%;
    text-align: left;
}

main .content-vision .description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

main .content-vision .visions {
    width: 1210px;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;
}

main .content-vision .visions .vision {
    width: 388px;
    height: 325px;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    margin-top: 32px;
}

main .content-vision .visions .vision-2 {
    background-color: rgb(198, 228, 214);
}

main .content-vision .visions .vision-2 .vision-content button {
    background: rgb(9, 161, 92);
}

main .content-vision .visions .vision-3 {
    background-color: rgb(247, 235, 207);
}

main .content-vision .visions .vision .vision-content {
    width: 358px;
    height: 295px;
    padding: 30px;
}

main .content-vision .visions .vision .icon {
    width: 62px;
    height: 62px;
    background: url(../assets/card-icon.png);
    margin-bottom: 24px;
}

main .content-vision .visions .vision .heading {
    width: 327px;
    height: 108px;
    margin-bottom: 24px;
}

main .content-vision .visions .vision .heading .title {
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 19px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 12px;
}

main .content-vision .visions .vision .heading .description {
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

main .content-vision .visions .vision button {
    all: unset;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    border-radius: 8px;
    background: rgb(84, 144, 245);
    padding: 10px 19px;
    cursor: pointer;
}

main .content-vision .visions .vision button:hover {
    color: #264653;
    background: #2a9d8f;
}